---
title: "iggy's astro blog"
---

<a href="/">home</a>
<a href="/about/">about</a>
<a href="/blog/">blog</a>

<h1>iggy's astro blog</h1>

<p>
  greetings, fellow denizens of the digital ether! welcome to the chronicles of my astro journey. here, you'll find tales of debugging woe, moments of triumph, and perhaps even some insights. expect the unexpected, as I, your intrepid explorer, delve into the depths of this fascinating framework.
</p>

<p>
  check out my latest escapades:
</p>

<ul>
  <li><a href="/posts/thief-of-time/">post 1: thief of time</a></li>
  <li><a href="/posts/samarra/">post 2: samarra and the semi-colon of doom</a></li>
  <li><a href="/posts/student/">post 3: quo vadis, discipule?</a></li>
</ul>
